--
-- PostgreSQL database dump
--

\restrict 33x1WiZhDK0HUfg0so6BfSPeLdKTwRtcZrXFw5PVcb89J0v0qgjQeQi52QXX8o5

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alumnos; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.alumnos (
    id text NOT NULL,
    "usuarioId" text NOT NULL,
    nombre text,
    apellido text,
    dni text,
    "fechaNacimiento" timestamp(3) without time zone,
    edad integer,
    domicilio text,
    "domicilioCalle" text,
    "domicilioNumero" text,
    "domicilioTira" text,
    "domicilioPiso" text,
    "domicilioDepto" text,
    colegio text,
    grado text,
    "tutorNombre" text,
    "tutorApellido" text,
    "tutorDni" text,
    "tutorRelacion" text,
    "tutorDomicilio" text,
    "tutorDomicilioCalle" text,
    "tutorDomicilioNumero" text,
    "tutorDomicilioTira" text,
    "tutorDomicilioPiso" text,
    "tutorDomicilioDepto" text,
    "tutorTelefonoPrincipal" text,
    "tutorTelefonoAlternativo" text,
    "tutorEmail" text,
    "tutorProfesion" text,
    "emergenciaNombre" text,
    "emergenciaTelefono" text,
    "emergenciaRelacion" text,
    "obraSocial" text,
    "numeroAfiliado" text,
    "hospitalReferencia" text,
    alergias text,
    "medicacionHabitual" text,
    "condicionesMedicas" text,
    "restriccionesFisicas" text,
    "autorizacionParticipacion" boolean DEFAULT false NOT NULL,
    "autorizacionMedica" boolean DEFAULT false NOT NULL,
    "autorizacionRetiro" text,
    "autorizacionImagenes" boolean DEFAULT false NOT NULL,
    "aceptacionReglamento" boolean DEFAULT false NOT NULL,
    "firmaResponsable" text,
    "aclaracionFirma" text,
    "dniFirma" text,
    "planPago" text,
    "formaPago" text,
    "firmaConformidad" text,
    "perfilCompleto" boolean DEFAULT false NOT NULL,
    "contactoEmergencia" text,
    "telefonoEmergencia" text,
    nivel text DEFAULT 'PRINCIPIANTE'::text NOT NULL,
    notas text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL,
    "claseUnicaAprobada" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.alumnos OWNER TO limone;

--
-- Name: asistencias; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.asistencias (
    id text NOT NULL,
    "alumnoId" text NOT NULL,
    "claseId" text NOT NULL,
    estado text DEFAULT 'PRESENTE'::text NOT NULL,
    notas text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.asistencias OWNER TO limone;

--
-- Name: citas_nivelacion; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.citas_nivelacion (
    id text NOT NULL,
    "alumnoId" text NOT NULL,
    fecha timestamp(3) without time zone NOT NULL,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    notas text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.citas_nivelacion OWNER TO limone;

--
-- Name: clases; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.clases (
    id text NOT NULL,
    "tallerId" text NOT NULL,
    "docenteId" text NOT NULL,
    "fechaHora" timestamp(3) without time zone NOT NULL,
    "duracionMinutos" integer DEFAULT 90 NOT NULL,
    ubicacion text,
    estado text DEFAULT 'PROGRAMADA'::text NOT NULL,
    notas text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.clases OWNER TO limone;

--
-- Name: configuracion; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.configuracion (
    id text NOT NULL,
    clave text NOT NULL,
    valor text NOT NULL,
    descripcion text
);


ALTER TABLE public.configuracion OWNER TO limone;

--
-- Name: creditos_clase_extra; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.creditos_clase_extra (
    id text NOT NULL,
    "alumnoId" text NOT NULL,
    motivo text,
    usado boolean DEFAULT false NOT NULL,
    "fechaProgramada" timestamp(3) without time zone,
    "horarioProgramado" text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL,
    "tallerId" text
);


ALTER TABLE public.creditos_clase_extra OWNER TO limone;

--
-- Name: dias_no_laborables; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.dias_no_laborables (
    id text NOT NULL,
    fecha timestamp(3) without time zone NOT NULL,
    motivo text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.dias_no_laborables OWNER TO limone;

--
-- Name: inscripciones; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.inscripciones (
    id text NOT NULL,
    "alumnoId" text NOT NULL,
    "tallerId" text NOT NULL,
    dia text,
    horario text,
    pagado boolean DEFAULT false NOT NULL,
    "fechaInscripcion" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    estado text DEFAULT 'ACTIVA'::text NOT NULL,
    notas text,
    fase text,
    asiento text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.inscripciones OWNER TO limone;

--
-- Name: notificaciones; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.notificaciones (
    id text NOT NULL,
    "usuarioId" text NOT NULL,
    titulo text NOT NULL,
    mensaje text NOT NULL,
    leida boolean DEFAULT false NOT NULL,
    tipo text,
    enlace text,
    "fechaEnvio" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notificaciones OWNER TO limone;

--
-- Name: obras; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.obras (
    id text NOT NULL,
    "alumnoId" text NOT NULL,
    "claseId" text,
    "imagenUrl" text NOT NULL,
    titulo text,
    descripcion text,
    tecnica text,
    "fechaCreacion" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    destacada boolean DEFAULT false NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.obras OWNER TO limone;

--
-- Name: opciones_inscripcion; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.opciones_inscripcion (
    id text NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    emoji text DEFAULT '­ƒÄ¿'::text NOT NULL,
    "colorFondo" text DEFAULT 'bg-emerald-100'::text NOT NULL,
    "colorBorde" text DEFAULT 'border-lemon-400'::text NOT NULL,
    "colorHoverBg" text DEFAULT 'bg-lemon-50/50'::text NOT NULL,
    tipo text DEFAULT 'regular'::text NOT NULL,
    "redirigirUrl" text,
    "esNuevo" boolean DEFAULT false NOT NULL,
    orden integer DEFAULT 0 NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.opciones_inscripcion OWNER TO limone;

--
-- Name: orden_productos; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.orden_productos (
    id text NOT NULL,
    "ordenId" text NOT NULL,
    "productoId" text NOT NULL,
    cantidad integer DEFAULT 1 NOT NULL,
    "precioUnit" double precision NOT NULL
);


ALTER TABLE public.orden_productos OWNER TO limone;

--
-- Name: ordenes_tienda; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.ordenes_tienda (
    id text NOT NULL,
    "nombreCliente" text NOT NULL,
    "emailCliente" text NOT NULL,
    "telefonoCliente" text NOT NULL,
    direccion text,
    total double precision NOT NULL,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    notas text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.ordenes_tienda OWNER TO limone;

--
-- Name: pagos; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.pagos (
    id text NOT NULL,
    "alumnoId" text NOT NULL,
    "inscripcionId" text NOT NULL,
    monto double precision NOT NULL,
    "fechaPago" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    "mercadoPagoId" text,
    "comprobantePdf" text,
    "mesCubierto" integer NOT NULL,
    "anioCubierto" integer NOT NULL,
    concepto text,
    cae text,
    "caeVencimiento" timestamp(3) without time zone,
    "puntoVenta" integer,
    "nroComprobante" integer,
    "tipoFactura" text,
    "cuitEmisor" text,
    "emisorNombre" text,
    "facturadoEn" timestamp(3) without time zone,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.pagos OWNER TO limone;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.password_reset_tokens (
    id text NOT NULL,
    "usuarioId" text NOT NULL,
    token text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.password_reset_tokens OWNER TO limone;

--
-- Name: productos; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.productos (
    id text NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    precio double precision NOT NULL,
    "imagenUrl" text,
    imagenes text,
    categoria text DEFAULT 'OBRA'::text NOT NULL,
    stock integer DEFAULT 1 NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    destacado boolean DEFAULT false NOT NULL,
    tecnica text,
    dimensiones text,
    artista text DEFAULT 'Natalia Fusari'::text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.productos OWNER TO limone;

--
-- Name: slider_images; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.slider_images (
    id text NOT NULL,
    "imagenUrl" text NOT NULL,
    titulo text,
    descripcion text,
    enlace text,
    orden integer DEFAULT 0 NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.slider_images OWNER TO limone;

--
-- Name: slides; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.slides (
    id text NOT NULL,
    titulo text NOT NULL,
    subtitulo text,
    descripcion text,
    tags text,
    "badgeTexto" text,
    "textoBoton" text,
    enlace text,
    "imagenUrl" text NOT NULL,
    "estiloOverlay" text DEFAULT 'light'::text NOT NULL,
    "colorTitulo" text DEFAULT '#2D2D2D'::text NOT NULL,
    "colorSubtitulo" text DEFAULT '#8E44AD'::text NOT NULL,
    "colorDescripcion" text DEFAULT '#57534E'::text NOT NULL,
    "colorBadge" text DEFAULT '#FFFFFF'::text NOT NULL,
    "colorBoton" text DEFAULT '#2D2D2D'::text NOT NULL,
    "colorFondoBoton" text DEFAULT '#F1C40F'::text NOT NULL,
    orden integer DEFAULT 0 NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.slides OWNER TO limone;

--
-- Name: solicitudes_recuperacion; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.solicitudes_recuperacion (
    id text NOT NULL,
    "alumnoId" text NOT NULL,
    "inscripcionId" text NOT NULL,
    "fechaClaseOriginal" timestamp(3) without time zone NOT NULL,
    motivo text,
    estado text DEFAULT 'PENDIENTE'::text NOT NULL,
    "esRecuperable" boolean DEFAULT false NOT NULL,
    "fechaRecuperacion" timestamp(3) without time zone,
    "horarioRecuperacion" text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.solicitudes_recuperacion OWNER TO limone;

--
-- Name: talleres; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.talleres (
    id text NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    imagen text,
    "cupoMaximo" integer DEFAULT 10 NOT NULL,
    precio double precision DEFAULT 0 NOT NULL,
    duracion integer DEFAULT 90 NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "diasSemana" text,
    "horaInicio" text,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL,
    horarios jsonb
);


ALTER TABLE public.talleres OWNER TO limone;

--
-- Name: tareas; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.tareas (
    id text NOT NULL,
    titulo text NOT NULL,
    descripcion text,
    fecha timestamp(3) without time zone NOT NULL,
    hora text,
    prioridad text DEFAULT 'MEDIA'::text NOT NULL,
    categoria text,
    completada boolean DEFAULT false NOT NULL,
    "completadaEn" timestamp(3) without time zone,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.tareas OWNER TO limone;

--
-- Name: testimonios; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.testimonios (
    id text NOT NULL,
    nombre text NOT NULL,
    texto text NOT NULL,
    imagen text,
    destacado boolean DEFAULT false NOT NULL,
    activo boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.testimonios OWNER TO limone;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: limone
--

CREATE TABLE public.usuarios (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    nombre text NOT NULL,
    telefono text,
    rol text DEFAULT 'ALUMNO'::text NOT NULL,
    imagen text,
    activo boolean DEFAULT true NOT NULL,
    "debeCambiarPassword" boolean DEFAULT true NOT NULL,
    "creadoEn" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "actualizadoEn" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.usuarios OWNER TO limone;

--
-- Data for Name: alumnos; Type: TABLE DATA; Schema: public; Owner: limone
--



--
-- Data for Name: asistencias; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.asistencias (id, "alumnoId", "claseId", estado, notas, "creadoEn") FROM stdin;
\.


--
-- Data for Name: citas_nivelacion; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.citas_nivelacion (id, "alumnoId", fecha, estado, notas, "creadoEn", "actualizadoEn") FROM stdin;
\.


--
-- Data for Name: clases; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.clases (id, "tallerId", "docenteId", "fechaHora", "duracionMinutos", ubicacion, estado, notas, "creadoEn", "actualizadoEn") FROM stdin;
\.


--
-- Data for Name: configuracion; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.configuracion (id, clave, valor, descripcion) FROM stdin;
\.


--
-- Data for Name: creditos_clase_extra; Type: TABLE DATA; Schema: public; Owner: limone
--



--
-- Data for Name: dias_no_laborables; Type: TABLE DATA; Schema: public; Owner: limone
--



--
-- Data for Name: inscripciones; Type: TABLE DATA; Schema: public; Owner: limone
--



--
-- Data for Name: notificaciones; Type: TABLE DATA; Schema: public; Owner: limone
--



--
-- Data for Name: obras; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.obras (id, "alumnoId", "claseId", "imagenUrl", titulo, descripcion, tecnica, "fechaCreacion", destacada, "creadoEn") FROM stdin;
cmkzn5o8k0001e9xhla5nzzrf	cmkzkyw6z000211caji6i1zfr	\N	https://res.cloudinary.com/dxaupveuf/image/upload/v1769702467/obras/iblshdwbmbsd7hsahi79.png	Alie	La sonrisa de un lindo atardecer	acrilico	2026-01-29 16:01:08.852	f	2026-01-29 16:01:08.853
\.


--
-- Data for Name: opciones_inscripcion; Type: TABLE DATA; Schema: public; Owner: limone
--



--
-- Data for Name: orden_productos; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.orden_productos (id, "ordenId", "productoId", cantidad, "precioUnit") FROM stdin;
\.


--
-- Data for Name: ordenes_tienda; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.ordenes_tienda (id, "nombreCliente", "emailCliente", "telefonoCliente", direccion, total, estado, notas, "creadoEn", "actualizadoEn") FROM stdin;
\.


--
-- Data for Name: pagos; Type: TABLE DATA; Schema: public; Owner: limone
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.password_reset_tokens (id, "usuarioId", token, "expiresAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.productos (id, nombre, descripcion, precio, "imagenUrl", imagenes, categoria, stock, activo, destacado, tecnica, dimensiones, artista, "creadoEn", "actualizadoEn") FROM stdin;
\.


--
-- Data for Name: slider_images; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.slider_images (id, "imagenUrl", titulo, descripcion, enlace, orden, activo, "creadoEn", "actualizadoEn") FROM stdin;
\.


--
-- Data for Name: slides; Type: TABLE DATA; Schema: public; Owner: limone
--



--
-- Data for Name: solicitudes_recuperacion; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.solicitudes_recuperacion (id, "alumnoId", "inscripcionId", "fechaClaseOriginal", motivo, estado, "esRecuperable", "fechaRecuperacion", "horarioRecuperacion", "creadoEn", "actualizadoEn") FROM stdin;
cmllurall000g810abxuercxt	cmllulfs10001810a6e4gx5af	cmllulfui0004810azgpt3cr6	2026-02-17 19:00:00	Viaje al Miami	PENDIENTE	f	\N	\N	2026-02-14 05:04:50.792	2026-02-14 05:04:50.792
\.


--
-- Data for Name: talleres; Type: TABLE DATA; Schema: public; Owner: limone
--



--
-- Data for Name: tareas; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.tareas (id, titulo, descripcion, fecha, hora, prioridad, categoria, completada, "completadaEn", "creadoEn", "actualizadoEn") FROM stdin;
cmksajr9c000010hj6rcqv1ei	Ir al banco BBVA	Cancelar la tarjeta de cr├®dito	2026-01-29 00:00:00	09:00	MEDIA	OTRO	t	2026-01-29 15:57:54.719	2026-01-24 12:33:47.712	2026-01-29 15:57:54.72
\.


--
-- Data for Name: testimonios; Type: TABLE DATA; Schema: public; Owner: limone
--

COPY public.testimonios (id, nombre, texto, imagen, destacado, activo, "creadoEn") FROM stdin;
cmkrpzk9g000912twxgehf77b	Mar├¡a Garc├¡a	Taller Limon├® cambi├│ mi perspectiva del arte. Natalia tiene una paciencia incre├¡ble.	\N	f	t	2026-01-24 02:58:13.204
cmkrpzk9m000a12twsi91t2wg	Carlos Rodr├¡guez	Nunca pens├® que podr├¡a pintar algo tan lindo. El ambiente del taller es s├║per acogedor.	\N	f	t	2026-01-24 02:58:13.21
cmkrpzk9r000b12twq9gr68f8	Ana Mart├¡nez	Mi hija ama ir al taller. Ver c├│mo desarroll├│ su creatividad fue incre├¡ble.	\N	f	t	2026-01-24 02:58:13.216
\.


--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: limone
--



--
-- Name: alumnos alumnos_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.alumnos
    ADD CONSTRAINT alumnos_pkey PRIMARY KEY (id);


--
-- Name: asistencias asistencias_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.asistencias
    ADD CONSTRAINT asistencias_pkey PRIMARY KEY (id);


--
-- Name: citas_nivelacion citas_nivelacion_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.citas_nivelacion
    ADD CONSTRAINT citas_nivelacion_pkey PRIMARY KEY (id);


--
-- Name: clases clases_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.clases
    ADD CONSTRAINT clases_pkey PRIMARY KEY (id);


--
-- Name: configuracion configuracion_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.configuracion
    ADD CONSTRAINT configuracion_pkey PRIMARY KEY (id);


--
-- Name: creditos_clase_extra creditos_clase_extra_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.creditos_clase_extra
    ADD CONSTRAINT creditos_clase_extra_pkey PRIMARY KEY (id);


--
-- Name: dias_no_laborables dias_no_laborables_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.dias_no_laborables
    ADD CONSTRAINT dias_no_laborables_pkey PRIMARY KEY (id);


--
-- Name: inscripciones inscripciones_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.inscripciones
    ADD CONSTRAINT inscripciones_pkey PRIMARY KEY (id);


--
-- Name: notificaciones notificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_pkey PRIMARY KEY (id);


--
-- Name: obras obras_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.obras
    ADD CONSTRAINT obras_pkey PRIMARY KEY (id);


--
-- Name: opciones_inscripcion opciones_inscripcion_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.opciones_inscripcion
    ADD CONSTRAINT opciones_inscripcion_pkey PRIMARY KEY (id);


--
-- Name: orden_productos orden_productos_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.orden_productos
    ADD CONSTRAINT orden_productos_pkey PRIMARY KEY (id);


--
-- Name: ordenes_tienda ordenes_tienda_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.ordenes_tienda
    ADD CONSTRAINT ordenes_tienda_pkey PRIMARY KEY (id);


--
-- Name: pagos pagos_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: slider_images slider_images_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.slider_images
    ADD CONSTRAINT slider_images_pkey PRIMARY KEY (id);


--
-- Name: slides slides_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.slides
    ADD CONSTRAINT slides_pkey PRIMARY KEY (id);


--
-- Name: solicitudes_recuperacion solicitudes_recuperacion_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.solicitudes_recuperacion
    ADD CONSTRAINT solicitudes_recuperacion_pkey PRIMARY KEY (id);


--
-- Name: talleres talleres_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.talleres
    ADD CONSTRAINT talleres_pkey PRIMARY KEY (id);


--
-- Name: tareas tareas_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT tareas_pkey PRIMARY KEY (id);


--
-- Name: testimonios testimonios_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.testimonios
    ADD CONSTRAINT testimonios_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: asistencias_alumnoId_claseId_key; Type: INDEX; Schema: public; Owner: limone
--

CREATE UNIQUE INDEX "asistencias_alumnoId_claseId_key" ON public.asistencias USING btree ("alumnoId", "claseId");


--
-- Name: configuracion_clave_key; Type: INDEX; Schema: public; Owner: limone
--

CREATE UNIQUE INDEX configuracion_clave_key ON public.configuracion USING btree (clave);


--
-- Name: dias_no_laborables_fecha_key; Type: INDEX; Schema: public; Owner: limone
--

CREATE UNIQUE INDEX dias_no_laborables_fecha_key ON public.dias_no_laborables USING btree (fecha);


--
-- Name: opciones_inscripcion_nombre_key; Type: INDEX; Schema: public; Owner: limone
--

CREATE UNIQUE INDEX opciones_inscripcion_nombre_key ON public.opciones_inscripcion USING btree (nombre);


--
-- Name: password_reset_tokens_token_key; Type: INDEX; Schema: public; Owner: limone
--

CREATE UNIQUE INDEX password_reset_tokens_token_key ON public.password_reset_tokens USING btree (token);


--
-- Name: talleres_nombre_key; Type: INDEX; Schema: public; Owner: limone
--

CREATE UNIQUE INDEX talleres_nombre_key ON public.talleres USING btree (nombre);


--
-- Name: usuarios_email_key; Type: INDEX; Schema: public; Owner: limone
--

CREATE UNIQUE INDEX usuarios_email_key ON public.usuarios USING btree (email);


--
-- Name: alumnos alumnos_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.alumnos
    ADD CONSTRAINT "alumnos_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: asistencias asistencias_alumnoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.asistencias
    ADD CONSTRAINT "asistencias_alumnoId_fkey" FOREIGN KEY ("alumnoId") REFERENCES public.alumnos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: asistencias asistencias_claseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.asistencias
    ADD CONSTRAINT "asistencias_claseId_fkey" FOREIGN KEY ("claseId") REFERENCES public.clases(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: citas_nivelacion citas_nivelacion_alumnoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.citas_nivelacion
    ADD CONSTRAINT "citas_nivelacion_alumnoId_fkey" FOREIGN KEY ("alumnoId") REFERENCES public.alumnos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: clases clases_docenteId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.clases
    ADD CONSTRAINT "clases_docenteId_fkey" FOREIGN KEY ("docenteId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: clases clases_tallerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.clases
    ADD CONSTRAINT "clases_tallerId_fkey" FOREIGN KEY ("tallerId") REFERENCES public.talleres(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: creditos_clase_extra creditos_clase_extra_alumnoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.creditos_clase_extra
    ADD CONSTRAINT "creditos_clase_extra_alumnoId_fkey" FOREIGN KEY ("alumnoId") REFERENCES public.alumnos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: creditos_clase_extra creditos_clase_extra_tallerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.creditos_clase_extra
    ADD CONSTRAINT "creditos_clase_extra_tallerId_fkey" FOREIGN KEY ("tallerId") REFERENCES public.talleres(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: inscripciones inscripciones_alumnoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.inscripciones
    ADD CONSTRAINT "inscripciones_alumnoId_fkey" FOREIGN KEY ("alumnoId") REFERENCES public.alumnos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: inscripciones inscripciones_tallerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.inscripciones
    ADD CONSTRAINT "inscripciones_tallerId_fkey" FOREIGN KEY ("tallerId") REFERENCES public.talleres(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notificaciones notificaciones_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT "notificaciones_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: obras obras_alumnoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.obras
    ADD CONSTRAINT "obras_alumnoId_fkey" FOREIGN KEY ("alumnoId") REFERENCES public.alumnos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: obras obras_claseId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.obras
    ADD CONSTRAINT "obras_claseId_fkey" FOREIGN KEY ("claseId") REFERENCES public.clases(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: orden_productos orden_productos_ordenId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.orden_productos
    ADD CONSTRAINT "orden_productos_ordenId_fkey" FOREIGN KEY ("ordenId") REFERENCES public.ordenes_tienda(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orden_productos orden_productos_productoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.orden_productos
    ADD CONSTRAINT "orden_productos_productoId_fkey" FOREIGN KEY ("productoId") REFERENCES public.productos(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pagos pagos_alumnoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT "pagos_alumnoId_fkey" FOREIGN KEY ("alumnoId") REFERENCES public.alumnos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: pagos pagos_inscripcionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT "pagos_inscripcionId_fkey" FOREIGN KEY ("inscripcionId") REFERENCES public.inscripciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: password_reset_tokens password_reset_tokens_usuarioId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT "password_reset_tokens_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES public.usuarios(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: solicitudes_recuperacion solicitudes_recuperacion_alumnoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.solicitudes_recuperacion
    ADD CONSTRAINT "solicitudes_recuperacion_alumnoId_fkey" FOREIGN KEY ("alumnoId") REFERENCES public.alumnos(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: solicitudes_recuperacion solicitudes_recuperacion_inscripcionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limone
--

ALTER TABLE ONLY public.solicitudes_recuperacion
    ADD CONSTRAINT "solicitudes_recuperacion_inscripcionId_fkey" FOREIGN KEY ("inscripcionId") REFERENCES public.inscripciones(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 33x1WiZhDK0HUfg0so6BfSPeLdKTwRtcZrXFw5PVcb89J0v0qgjQeQi52QXX8o5

